@media screen and (max-width: 1654px) {
  .carousel-caption h5 {
    font-size: 30px;
  }

  .carousel-caption p {
    font-size: 15px;
    width: 80%;
  }
}

@media screen and (max-width: 1199px) {
  .cards-section .card p {
    font-size: 15px;
  }

  .cards-section .card {
    height: 330px;
    padding: 10px;
  }
  .card-testimonial {
    height: 330px;
    margin-top: 35%;
  }
  p.text-center.maintext {
    margin-top: 33%;
  }
}

@media screen and (max-width: 991px) {
  .exotic-trips .container {
    width: 60%;
  }
  .card-wrapper .cards-section:nth-child(1) {
    margin-bottom: 3rem;
  }
  .card-wrapper .cards-section:nth-child(2) {
    margin-bottom: 3rem;
  }

  .cards-section .card p {
    font-size: 16px;
  }

  .cards-section .card {
    height: 290px;
    padding: 10px;
  }

  .card-testimonial {
    height: 270px;
    width: 70%;
    margin: 10% auto;
  }
  p.text-center.maintext {
    margin-top: 25%;
  }

  .travelwithus h1,
  .travelwithus h5 {
    text-align: center;
  }

  .Our-Team .our-team-text p:last-child {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .FormImg {
    display: none;
  }

  nav {
    height: 90px;
  }

  .navbar {
    padding: 0px;
  }

  .navbar-dark .navbar-brand {
    height: 90px;
    margin-top: -10px !important;
  }

  .Our-Team .our-team-text p:last-child {
    display: block;
  }

  .exotic-trips .container {
    width: 90%;
  }
  .card-wrapper .cards-section:nth-child(3) {
    margin-bottom: 3rem;
  }

  .Services .container .row:last-child {
    display: none;
  }

  .cards-section .card {
    width: 80%;
    margin: 0px auto;
  }

  .card-testimonial {
    height: 280px;
    width: 90%;
    margin: 17% auto;
  }

  p.text-center.maintext {
    margin-top: 27%;
  }

  .author-heading-1 {
    text-align: center;
  }

  .travelwithus h1 {
    font-size: 3rem;
  }
  .fact-box {
    margin: 1rem 0px;
  }

  .sunshape-facts .row:last-child {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  p.text-center.maintext {
    margin-top: 40%;
  }
  .card-testimonial .row {
    display: none;
  }
}
